{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
  <form class="form-signin" method="post" action="{% url 'password_reset_done' %}">
          {% csrf_token %}
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
              <p>{{ form.email }}</p>
              <button class="btn btn-lg btn-primary btn-block" type="submit">send</button>
          </form>
</body>
</html>